/*main tags and ids
*/
body {
    font-family: "calibri", sans-serif;
    /*background-color: #eeeeee !important;
    */
/*    background-image: url("image/bodybg.jpg");
*/
background-color: #e6ffd7;
    /* background-color:#d9ffc1;*/
padding: 0;
margin: 0;
    background-repeat: repeat;
}

a{
	text-decoration: none;
	color: #898453
}

li{
	list-style-type: none;
}

hr{
    border: 1px solid #89D097 ;
}

#upbanner{
  margin-left: 15.8%;
  width:70.5%;
}



/*slider for news */
#newsdetail{
  margin-top: 35%;
  margin-left: 20%;
}
#newsimage{
  width:100%; 
  height: 40vh;
}
#slideshow {


  margin-left: 22.5%;
  position: relative;
  width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  height:170px
    width:auto;/*maintain aspect ratio*/
    max-width:500px;
  
}
#boxbody{
 
  overflow: auto;
  overflow-x: hidden;  
  border-radius: 0.2%;
  
  width: 80%;
  margin-left:15%;
  margin-right: 15%; 
}


#menu-block{
	float:left; 
	width:20%;
	position:relative;
	
  margin-left: 1%;
  padding-bottom:50px
  background-color:white;
}
#up-block{
  
  margin-left: 12.5%;
  display: block;

  float:bottom;
  position: relative; 
  width:65%;
  background-color: white;
  margin-top:0.5%; 
  border:solid 1px #E5E4E2; 
  border-radius: 5px;

}
#content-block{
  display: block;
  margin-left: 21%;
	float:bottom;
	position: relative; 
	width:65%;
  background-color: white;
	left: 3%; 
  margin-top:0.5%; 
	border:solid 1px #E5E4E2; 
	border-radius: 5px;
}

#assmnt-block{
	width:95%;
	margin-left: 2%; 
	height:40vw;
	border:solid;
}
/*breadcrumb*/

#breadcrumb ul {
    padding: 8px 16px;
    list-style: none;
    

}
#breadcrumb ul li {
  display: inline;
}
#breadcrumb ul li+li:before {
    padding: 8px;
    color: black;
    content: ">>";
    /*"/\00a0"*/
}
#breadcrumb ul li a {
  color: green;
}
  

#breadcrumb{

  border-radius: 4px;
margin-right: 11%;  
margin-left: 1%;
  background-color: white;
}


/*content lists include assignment, quizzes and lesson lists*/

#content-list li{


    list-style:none;
    margin-left: 25%;
    width: 50%;
    counter-reset: li;
    list-style: none;
    font-size: 15px;
/*    font-family: 'Raleway', sans-serif;
  */  


}
#content-list li a{

  font-weight: bold;
  padding: 2% 0% 2% 0%;
    display: inline-block;  
  width: 100%;
	position: relative;
  
  background: #90d6a5;
	color: #444;
	text-decoration: none;
	transition: all .2s ease-in-out;
  border-radius: 2%;
  text-align: center;
}
#content-list li a:hover{

	background: #16A085;
	text-decoration:none;
	transform: scale(1.1);
}


#content-list li a:before{

	text-align: center;

}

#content-list li a:visited{
  	color: black!important;
}

#content-list h4{
	margin: .1em 0;
	color:#898453;
	float: left;
}


#student-list ul{
  padding-left: 22%;
  padding-right: 23%;
 

}
#student-list li{
    padding-left: 1%;
    text-align: left;
    list-style:none;

    width: 100%;
    counter-reset: li;
    list-style: none;
    font-size: 15px;
/*    font-family: 'Raleway', sans-serif;
  */  


}
#student-list li a{

  font-weight: bold;
  padding: 2% 0% 2% 0%;
    display: inline-block;  
  width: 100%;
  position: relative;
  
  background: #90d6a5;
  color: #444;
  text-decoration: none;
  transition: all .2s ease-in-out;
  border-radius: 2%;
  text-align: center;
}
#student-list li a:hover{

  background: #16A085;
  text-decoration:none;
  transform: scale(1.1);
}


#student-list li a:before{

  text-align: center;

}

#student-list li a:visited{
    color: black!important;
}

#student-list h4{
  margin: .1em 0;
  color:#898453;
  float: left;
}

/*news feed*/

#newsfeed{
	float:none; 
	border: solid;
	border-color:  #E5E4E2; 
	height:20.5vh;
	margin-right:2%; 
}

img.stretchyfeed {
width: 100%; /*Tells image to fit to width of parent container*/
height:100%;
}
.containerfeed {
width: 20%; /*Use this to control width of the parent container, hence the image*/
height:19.5vh;
float:left;

padding-right:2%;
}

/*pop up window*/

   .white_content {
        display: none;
        position: fixed;
        top: 12.5%;
        left: 35%;
        width: 30%;
        height: 75%;
        padding: 16px;
        border: 10px solid #1E8449;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }


  .white_content a{
  	float: left;

   }
  .black_overlay{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }

/*quiz popup*/

    .quiz_white_content {
        display: none;
        position: fixed;
        top: 25%;
        left: 28%;
        width: 40%;
        height: 40%;
        padding: 16px;
        border: 16px solid #1E8449;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }


  .quiz_black_overlay{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }

/*assignment popup */  

    .assmnt_white_content {
        display: none;
        position: fixed;
        top: 25%;
        left: 28%;
        width: 40%;
        height: 40%;
        padding: 16px;
        border: 16px solid #1E8449;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }


  .assmnt_black_overlay{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }

/*user home */

#usermenu ul {


    list-style-type: none;
    margin: 0;


    overflow: hidden;
    background-color: #16A085!important;
    
}


#usermenu li:hover a{
    background-color: white !important;
    color: #16A085;
 
}
#usermenu li:hover{
    background-color: white !important;
 color: #16A085;
}
#usermenu a:hover{
    background-color:white !important;
    color: #16A085;
}
#usermenu ul li{
    float: left;
    width:10%;
    text-align: center;
      
}
#usermenu li a {

    display: inline-block;
     background-color:#16A085!important;
       text-align: center;
        padding-top: 8%;
        padding-bottom: 8%;  
    color:white;
    text-decoration: none;
    font-weight: bold;
    
}
/*
#usermenu li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}*/




/*buttons*/


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #16A085;
  border: none;
  float: right;
  color: white;
  text-align: center;
  
  padding: 8px;
  
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.btn-1{
font-size: 16px;
width: 130px;
color: #FFFFFF;
}

.button a{
	color: white;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "+";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*forms*/

label{
  font-size: 14px;
  color: #1E8449;
  font-weight: bold;
}

input[type="text"]{
  width: 90%;
}

input[type=text],input[type=password] {
    width: 98%;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;

    margin: 8px 0;
    background-color: #e6ffd7;

    font-size: 15px;
    display: block;
}
input[type="number"]{
    border: none;
    padding: 5px;
}

.formlog { 
margin-top: 3%;
margin-left: 3%;
margin-right: 3%;
}
  
.formlog div{
}

.formlog label{
    font-size: 100%
}

/*tables*/
table {
color: #333;
/*font-family: Helvetica, Arial, sans-serif;*/
margin-top: 2%;
margin-left: 5%;

width: 90%;
border-collapse:
collapse; border-spacing: 0;
}

td, th {

border: 1px solid green; /* No more visible border */
height: 30px;
transition: all 0.3s; /* Simple transition for hover effect */
}

th {
background: #8edba6; /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;
/*text-align: center;*/
}

td a{
    text-decoration: none;
    
}
/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
tr:nth-child(odd) td { background: #FEFEFE; }

/*tr td:hover { background: #666; color: #FFF; } *//* Hover cell effect! */

#assmnt-tabl table{
    border-collapse: separate;
    border-spacing: 10px 10px;
}

#assmnt-tabl tr:nth-child(even) {background-color: #f2f2f2}
}

/*performance view*/



#std_pform table {
    border-collapse: collapse;
    width: 100%;
}

#std_pform th, td {
    text-align: left;
    padding: 8px;
}

/*tr:nth-child(even){background-color: #DEFCC6     }*/

#std_pform th {
    background-color: #229954  ;
    color: white;
}

#avg{
  background-color: #C6FCD1  ;
  color: black;
}

#std_pform h1{
  font-size: 30px;
  color: #084214;
  text-decoration: none;
  padding-left: 10px;
}
#std_pform h3{
  color: #084214;
  padding-left: 10px;

}


/*inbox*/

#inbox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:#f3f9fe !important;

    margin-left: 0%;
}



#inbox li{
        background:url(../../image/message.png) no-repeat 1% 50% !important;
       
        padding-left: 5%;

}
/*#inbox li:hover,a:hover{
  background-color: #4CAF50 !important;

}*/
#inbox li{
  height: 30px;
  padding-top: 10px;
}
#inbox li a{
    text-decoration: none;
    color: black;
    display: block;
}

#inbox li a:visited{
  color: black!important;
}


#message{
  width:100%;
}

#message table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 0%;
    margin-top: 5%;
}

#message th, td {
    text-align: left;
    padding: 0.5%;
}

#message tr:nth-child(even){background-color: #f2f2f2}

#message th {
    background-color: #229954;
    color: white;
    font-weight: normal;
   
}

/*menu style*/

nav a {
  position: relative;
  display: inline-block;
 
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 16px;
}

nav a:hover,
nav a:focus {
  outline: none;
}


.menu-btn  {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2%;
  overflow: auto;
  background-color: white;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}

.menu-btn a {
  overflow: hidden;
  margin: 6px 15px;
    width:80%;
    border-radius: 4px;
}

.menu-btn a span {
  display: block;
  padding: 10px 20px;
  background: #16A085;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
    border-radius: 4px;
}

.menu-btn a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding-top: 10px;

  width: 100%;
  height: 100%;
  background: #fff;
  color: #16A085;
  content: attr(data-hover);
 /* -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(-25%);
   */ border-radius: 5px;
}

.menu-btn a:hover span,
.menu-btn a:focus span {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}

.menu-btn a:hover::before,
.menu-btn a:focus::before {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}