

body {
	margin: 0px;
}

a{
	text-decoration: none;
	color: #fff;
}


button {
	padding: 1%;
    background-color: green!important;
    color: white;
    border: 0;
}




input {
	font-size: 14px;
    line-height: 1.728571429;
    margin-bottom: 5px;
}

table {
	padding-left: 39%;
    text-align: left;
}




.hide {
	display: none;
}




.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
    background-color: green;
    padding: 1%;
}

.container {
	text-align: center;
    padding-top: 12%;
}



.question{
	height: 30%;
  
}


.result-container{
	margin-left: 30%;
	margin-right: 30%;
	margin-top:1%; 
	text-align: center;
}

.logout{
	padding-top:100px;
}

.next{
	margin-left:200px;
  
}

.answer{
	color:green;
	font-weight: 300;
	font-size: larger; 
}

.result{
	text-align: center;
}

.text-center {
	text-align: center;
}



.scores-table {
	border-spacing: 60px 5px;
	padding-left: 33%;
	margin-top: 50px;
}

.scores-table tr:nth-child(even) {
    background-color: #E0E0E0;
}

.results-btn {
	margin-top: 8px;

}
/*.result-data {
    margin-left: 40%;
}*/

.results-btn a {
	width: 95px;
}





